ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.text {
    text-decoration: none;
    color: #fff;
}

.text:hover {
    text-decoration: none;
    color: #fff;
}

li {
    padding: 15px;
    margin: 0px;
}

.nav {
    background-color: #140824;
    overflow: hidden;
    text-decoration: none;
}

.nav li:hover {
    background-color: #655B70;
    color: #eee;
}

.navListLeft {
    float: left;
    color: #eee;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.navListRight {
    float: right;
    color: #eee;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.navSignOut {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;
}